.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noOverflow {
  overflow: hidden;
}

.google-maps {
  position: relative;
  height: 0;
  overflow: hidden;
}

.slick-slide {
  height: auto;
}

.slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
